@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #150135 1.84%, #8debfc 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #0becce -13.86%, #8debfc 99.55%);
  
  --color-bg: #150135;
  --color-footer : #150135;
  --color-blog: #6a54e7;
  --color-text: #413391;
  --color-subtext: #0becce;
  --color-bg-hover: #0becce;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
